<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" xintegrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">

</head>
<body>
    <header>
        <nav class="menu">
  <a href="#home">HOME <span></span></a>
  <a href="#sobre">SOBRE MIM <span></span></a>
  <a href="#projetos">PROJETOS <span></span></a>
  <a href="#contato">CONTATO <span></span></a>
</nav>


        </div>
    </header>

    <section id="home">
        <h1>Olá, me chamo Milleny e sou apaixonada por programação</h1>
        <p>Desenvolvedora apaixonada por criar soluções inovadoras e eficientes.</p>
        <a href="#projetos">Venha conhecer os meus projetos</a>
    </section>


     <section id="sobre">
        <div class="profile-image-container">
            <img src="{{ url_for('static', filename='foto_perfil.jpg') }}" alt="Sua Foto de Perfil" class="profile-image">
        </div>
        <div class="about-container-wrapper">
            <div class="about-container">
                <h2>Sobre mim</h2>
                <p>Sou estudante de Análise e Desenvolvimento de Sistemas com experiência prática na área de manutenção administrativa e tecnologia. Atualmente atuo na Epson do Brasil como Jovem Aprendiz, onde contribuo com a automação de processos usando Excel e desenvolvimento de aplicativos com Power Apps e Power Automate para otimizar rotinas operacionais.

Tenho conhecimentos em linguagens como Python, Java e Rust, além de experiência com frameworks como Spring Boot e Flask, e domínio em ferramentas de nuvem (AWS), IA e desenvolvimento web. Participei de projetos voltados à acessibilidade e área da saúde utilizando inteligência artificial, reconhecimento facial e análise de dados clínicos.</p>
            </div>
        </div>
        <div class="floating-icons">
        <img src="static/html.png" class="tech-icon icon-html" alt="HTML5">
        <img src="static/css.png" class="tech-icon icon-css" alt="CSS3">
        
        <img src="static/python.png" class="tech-icon icon-python" alt="Python">
        <img src="static/java.png" class="tech-icon icon-java" alt="Java">
        <img src="static/mysql.png" class="tech-icon icon-mysql" alt="MySQL">
        <img src="static/docker.png" class="tech-icon icon-docker" alt="Docker">
    </div>
    </section>


  <section id="projetos">
    <h2>Meus Projetos</h2>
    <div class="container">
        <div class="slide">
            
            <div class="item" style="background-image: url(https://i.ibb.co/qCkd9jS/img1.jpg);">
                <div class="content">
                    <div class="name">Assistente virtual</div>
                    <div class="des">Luna é uma assistente virtual projetada para conversação, reconhecimento facial e em breve muito mais!!!</div>
                    <button class="open-modal-btn" data-video="https://www.youtube.com/embed/dQw4w9WgXcQ">Saber mais</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/jrRb11q/img2.jpg);">
                <div class="content">
                    <div class="name">Leitor PDF</div>
                    <div class="des">Leitor de PDFs</div>
                    <button class="open-modal-btn" data-video="https://www.youtube.com/embed/dQw4w9WgXcQ">Veja mais</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/NSwVv8D/img3.jpg);">
                <div class="content">
                    <div class="name">Análise de dados</div>
                    <div class="des">Esse automatizador de análise de dados para suas tabelas do excel</div>
                    <button class="open-modal-btn" data-video="https://www.youtube.com/embed/dQw4w9WgXcQ">Veja mais</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/Bq4Q0M8/img4.jpg);">
                <div class="content">
                    <div class="name">Assistente médica</div>
                    <div class="des">,,,</div>
                    <button class="open-modal-btn" data-video="https://www.youtube.com/embed/dQw4w9WgXcQ">Veja mais</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/jTQfmTq/img5.jpg);">
                <div class="content">
                    <div class="name">Clima tempo</div>
                    <div class="des">...</div>
                    <button class="open-modal-btn" data-video="https://www.youtube.com/embed/dQw4w9WgXcQ">Veja mais</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/RNkk6L0/img6.jpg);">
                <div class="content">
                    <div class="name">...</div>
                    <div class="des">;;;</div>
                    <button class="open-modal-btn" data-video="https://www.youtube.com/embed/dQw4w9WgXcQ">Veja mais</button>
                </div>
            </div>
        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

    <div id="modal-overlay" class="modal-overlay">
        <div class="modal-card">
            <button class="close-btn" id="close-modal">&times;</button>
            <div class="video-container">
                <iframe
                    id="video-iframe"
                    width="560"
                    height="315"
                    src=""
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>    
        </div>
    </div>
</section>
    <section id="contato">
        <h2>Entre em Contato</h2>
        <div class="icons-contact">
        <a href="https://www.discord.com/seu-perfil" target="_blank" rel="noopener noreferrer">
        <img src="static/discord.png" class="icon icon-d" alt="Discord">
    </a>
    <a href="https://www.github.com/seu-perfil" target="_blank" rel="noopener noreferrer">
        <img src="static/github.png" class="icon icon-g" alt="Github">
    </a>
    <a href="https://www.instagram.com/seu-perfil" target="_blank" rel="noopener noreferrer">
        <img src="static/insta.png" class="icon icon-i" alt="Instagram">
    </a>
    <a href="https://www.linkedin.com/in/seu-perfil" target="_blank" rel="noopener noreferrer">
        <img src="static/linkedln.png" class="icon icon-l" alt="LinkedIn">
    </a>
    </div>
        
    </section>

    <script src="static/script.js"></script>
</body>
</html>