<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" xintegrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="menu">
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#sobre">SOBRE MIM</a></li>
                <li><a href="#projetos">PROJETOS</a></li>
                <li><a href="#contato">CONTATO</a></li>
            </ul>
        </div>
    </header>

    <section id="home">
        <h1>Olá, me chamo Milleny e sou apaixonada por programação</h1>
        <p>Desenvolvedora apaixonada por criar soluções inovadoras e eficientes.</p>
        <a href="#projetos">Venha conhecer os meus projetos</a>
    </section>


    <section id="sobre">
        <h2>Sobre mim</h2>
        <div class="profile-image-container">
                <img src="{{ url_for('static', filename='foto_perfil.jpg') }}" alt="Sua Foto de Perfil">

            </div>
        <div class="about-container-wrapper">
            
            <div class="about-text-content">
                <p>Olá! Meu nome é [Seu Nome]. Sou um desenvolvedor web apaixonado por criar soluções inovadoras e eficientes. Tenho experiência em HTML, CSS e JavaScript, e estou sempre buscando aprender novas tecnologias para aprimorar minhas habilidades.</p>
            </div>
        
        </div>
    </section>


    <section id="projetos">
        <h2>Meus Projetos</h2>
        <div class="container">

        <div class="slide">

            
            <div class="item" style="background-image: url(https://i.ibb.co/qCkd9jS/img1.jpg);">
                <div class="content">
                    <div class="name">Switzerland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/jrRb11q/img2.jpg);">
                <div class="content">
                    <div class="name">Finland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/NSwVv8D/img3.jpg);">
                <div class="content">
                    <div class="name">Iceland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/Bq4Q0M8/img4.jpg);">
                <div class="content">
                    <div class="name">Australia</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/jTQfmTq/img5.jpg);">
                <div class="content">
                    <div class="name">Netherland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>
            <div class="item" style="background-image: url(https://i.ibb.co/RNkk6L0/img6.jpg);">
                <div class="content">
                    <div class="name">Ireland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    <button>See More</button>
                </div>
            </div>

        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>

    </div>
    </section>

    <section id="contato">
        <h2>Entre em Contato</h2>
        <p>Preencha o formulário ou use minhas redes sociais.</p>
    </section>

    <script src="static/script.js"></script>
</body>
</html>