<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="icon" type="image/png" href="static/icon.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" xintegrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
</head>
<body>
    <canvas id="bg-triangles"></canvas>
    <header>
        <nav class="menu">
            <a href="#home">HOME <span></span></a>
            <a href="#sobre">SOBRE MIM <span></span></a>
            <a href="#projetos">PROJETOS <span></span></a>
            <a href="#contato">CONTATO <span></span></a>
        </nav>
    </header>

    <section id="home">
      <div class="home-container">
        <h1>Olá, me chamo Milleny e sou apaixonada por programação</h1>
        <p>Desenvolvedora apaixonada por criar soluções inovadoras e eficientes.</p></div>
        <a href="#projetos">
            <button id="projeto-btn">Venha conhecer meus projetos</button>
        </a>
    </section>

    <section id="soft-skills">
        <h2>Minhas Soft Skills</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Comunicação</h3>
                        <p>Saber explicar ideias e entender necessidades do time e clientes.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Trabalho em equipe</h3>
                        <p>Colaborar bem com colegas para alcançar objetivos comuns.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Resolução de problemas</h3>
                        <p>Identificar bugs e desafios para encontrar soluções eficientes.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Adaptabilidade</h3>
                        <p>Aprender novas tecnologias e se ajustar a mudanças rápidas.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Pensamento crítico</h3>
                        <p>Avaliar abordagens e questionar o que não faz sentido.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Organização e gestão do tempo</h3>
                        <p>Priorizar tarefas e entregar prazos com qualidade.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Persistência e paciência</h3>
                        <p>Manter a calma e insistir diante de erros e desafios.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Curiosidade e vontade de aprender</h3>
                        <p>Buscar conhecimento e estar sempre atualizado.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Autonomia</h3>
                        <p>Trabalhar independente, tomando decisões com segurança.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <h3>Empatia</h3>
                        <p>Entender o usuário para criar soluções eficientes e amigáveis.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <section id="sobre">
        <div class="profile-image-container">
            <img src="static/foto_perfil.jpg" alt="Sua Foto de Perfil" class="profile-image">
        </div>
        <div class="about-container-wrapper">
            <div class="about-container">
                <h2>Sobre mim</h2>
                <p>Sou estudante de Análise e Desenvolvimento de Sistemas, apaixonada por tecnologia e inovação. Tenho experiência em desenvolvimento backend e web, criação de soluções low-code com Power Apps e Power Automate, e conhecimento em linguagens como Python, Java e Rust, além de frameworks como Spring Boot e Flask. Possuo habilidades em cloud computing, Docker, Kubernetes e metodologias ágeis, sempre buscando aplicar boas práticas de desenvolvimento, escalabilidade e automação. Meu objetivo é evoluir como desenvolvedora, contribuindo com soluções criativas e eficientes para diferentes setores.</p>
            </div>
        </div>
        <div class="floating-icons">
            <img src="static/html.png" class="tech-icon icon-html" alt="HTML5">
            <img src="static/css.png" class="tech-icon icon-css" alt="CSS3">
            <img src="static/python.png" class="tech-icon icon-python" alt="Python">
            <img src="static/java.png" class="tech-icon icon-java" alt="Java">
            <img src="static/mysql.png" class="tech-icon icon-mysql" alt="MySQL">
            <img src="static/docker.png" class="tech-icon icon-docker" alt="Docker">
        </div>
    </section>

    <section id="projetos">
        <div class="container">
            <div class="slide">
                <div class="item">
                    <div class="content">
                        <div class="name">Assistente virtual</div>
                        <div class="des">Luna é uma assistente virtual projetada para conversação, reconhecimento facial e em breve muito mais!!!</div>
                        <button class="open-modal-btn" data-video="https://www.youtube.com/embed/jbJuI3DALX8">Saber mais</button>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="name">Leitor PDF</div>
                        <div class="des">Simplificando a leitura de documentos. Descubra a forma mais intuitiva e acessível de interagir com seus arquivos PDF, pensada para todos</div>
                        <button class="open-modal-btn" data-video="https://www.youtube.com/embed/2dImg9xIWJU">Veja mais</button>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="name">Análise de dados</div>
                        <div class="des">A revolução na análise de dados começa aqui. Este projeto automatiza e simplifica o processo, permitindo que você extraia o máximo das suas informações sem esforço e com resultados impressionantes.</div>
                        <button class="open-modal-btn" data-video="https://www.youtube.com/embed/h9yUY5J83WA">Veja mais</button>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="name">Site TransLari</div>
                        <div class="des">Um projeto que reflete minha paixão e habilidade. Conheça o 'Site TransLari', um trabalho de desenvolvimento profissional pensado para impressionar.</div>
                        <button class="open-modal-btn" data-video="https://www.youtube.com/embed/zr_1nQocYms">Veja mais</button>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="name">Área do aluno unifecaf</div>
                        <div class="des">Projeto do Hackathon Unifecaf 2025, com medidores de progresso, assistente virtual e muito mais!</div>
                        <button class="open-modal-btn" data-video="https://www.youtube.com/embed/QZX3sNQdS4I">Veja mais</button>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="name">CRUD</div>
                        <div class="des">A base de todo software robusto começa com um CRUD bem-feito. Desenvolvido em JAVA, este projeto é uma demonstração sólida da minha proficiência em gerenciar dados e construir a espinha dorsal de qualquer aplicação.</div>
                        <button class="open-modal-btn" data-video="https://www.youtube.com/embed/D4-PPFjhlVM">Veja mais</button>
                    </div>
                </div>
            </div>
          
        </div>
        <div id="modal-overlay" class="modal-overlay">
            <div class="modal-card">
                <button class="close-btn" id="close-modal">&times;</button>
                <div class="video-container">
                    <iframe id="video-iframe" width="560" height="315" src="" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="contato">
        <h2>Entre em Contato</h2>
        <div class="icons-contact">
            <a href="https://discord.com/users/842471623352254504
" target="_blank" rel="noopener noreferrer">
                <img src="static/discord.png" class="icon icon-d" alt="Discord">
            </a>
            <a href="https://github.com/Milleny-pin" target="_blank" rel="noopener noreferrer">
                <img src="static/github.png" class="icon icon-g" alt="Github">
            </a>
            <a href="https://www.instagram.com/codebymilleny/" target="_blank" rel="noopener noreferrer">
                <img src="static/insta.png" class="icon icon-i" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/millenysouzabraghine" target="_blank" rel="noopener noreferrer">
                <img src="static/linkedln.png" class="icon icon-l" alt="LinkedIn">
            </a>
        </div>
    </section>

    <script src="static/script.js"></script>
</body>
</html>